*~
.gradle
/build
/out
/intellij
/buildSrc/lib
/buildSrc/build
/*.iml
/*.ipr
/*.iws
/subprojects/*/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/*.iml
/buildSrc/out
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
*.sublime-*
.nb-gradle
